# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/
dist/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
coverage/
.nyc_output

# misc
.DS_Store
*.pem
Thumbs.db

# editor
.vscode/
.idea/
*.swp
*.swo

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
src/generated/

# vercel
.vercel
myinvoice-external-api.postman_collection.json
public/uploads/